<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>

    <!-- Database connection -->
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/HibernatePractice</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">password</property>

    <!-- Dialect -->
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

    <!-- Show SQL -->
    <property name="hibernate.show_sql">true</property>

    <!-- Auto table creation -->
    <property name="hibernate.hbm2ddl.auto">update</property>

    <!-- Mapping class -->
        <mapping class="org.Code.Employee"/>

</session-factory>
</hibernate-configuration>